{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Unauthorized. Please login!</h1>
    <p class="">
        The server could not verify that you are authorized to access the
         URL requested. You either supplied the wrong credentials (e.g. a bad password), 
         or your browser doesn't understand how to supply the credentials required.
    </p>
    <image class="fluid" src="https://cdn.dribbble.com/users/761395/screenshots/6287961/error_401.jpg"></image>
    

</div>


{% endblock %}